extends layout

block content
  input#id(type="hidden" value="#{id}")
  // header
  .header-section
    // log-and-register
    .header-top
    .row
    script.
      $('#HOME').addClass('active')
  .container
    .row.card-panel.hoverable
      .wecome-main
        .col.s12(align="center")
          h2 欢迎您来到科协网站
          h4
            |如果您有意参加<span class="blue-text">ACM校内赛</span>和<span class="blue-text">计算机应用设计大赛</span><br>
            |请进入<a href='/contests/?id=#{id}'><i class="material-icons">forward</i>比赛页面</a> （需要先登录）<br>
            | <strong>由于四六级口试需要使用机房<br>校内赛比赛时间改为5月27日，带来不便请您谅解<br></strong>
  // end-of-welcome
  .container
    .featured-section.card-panel.hoverable
      .row
        h2 比赛介绍
        .col.s6
          h3
            | ACM校内赛
          p
            | ACM校内赛每年举行一次，时间在5月份。
            | 比赛目的为提高计算机教学质量与选拔优秀选手。
            | 比赛形式借鉴ACM正规比赛，三人组成一队使用一台电脑在规定时间内正确解答尽可能多的题目。
            | ACM竞赛年度性竞赛，始于1970年，是全球大学生计算机程序能力竞赛活动中最有影响的一项赛事，是全球历史最悠久、规模最大且最负盛名的程序设计竞赛。竞赛提倡创新和团队协作，鼓励学生在构建全新的软件程序时尽情发挥创意，帮助学生检验自己在强压力下的工作能力。是世界各地计算机程序设计者大显身手的舞台，也是世界一流大学展现教育成果的最佳窗口。
        .col.s6
          h3
            | 计算机应用设计大赛
          p
            | 计算机应用设计大赛是信息科学技术学院举办的年度性比赛，比赛目的在于提高计算机教学质量与选拔优秀选手。
            | “中国大学生计算机设计大赛”是由教育部高等学校计算机类专业教学指导委员会、教育部高等学校软件工程专业教学指导委员会、教育部高等学校大学计算机课程教学指导委员会、教育部高等学校文科计算机基础教学指导分委员会、中国教育电视台联合主办的大型全国竞赛。
            | 计算机应用设计大赛便是该全国赛的校内选拔赛。校内赛选拔的优秀选手将有机会参与到复赛，成功晋级后可以参加全国赛。
            | 该比赛已经举办多年，每年都有优秀的选手在全国总决赛获得较好名次。
        h2 最新动态
        .featured-main
          .col.s4.feature-text
            // TODO
            img(src="/images/DSC03902.JPG" alt="志愿者在赛场工作" width="300px" height="200px")
            h3
              |2017年ACM区域赛
            p
              |在刚刚过去的2017年ACM区域赛中，志愿者们出色地完成了任务：
              |2017年11月18日19日在北京大学邱德拔体育馆举行了ACM区域赛，
              |比赛中共有近150名志愿者参与，志愿者们身着耀眼的橙色衣服，在赛场服务，
              |维持着比赛顺利进行。
            .wecome-button
              // TODO
              //a.button.rotate2(href="#") Read More
                span
          .col.s4.feature-text
            img(src="/images/timg.jpg" alt="ACM标志" width="300px" height="200px")
            h3
              |新的比赛正在筹备
            p
              |新的学期中我们还将举办<span class="blue-text">ACM校内赛</span>和<span class="blue-text">计算机应用设计大赛</span>，
              |比赛的相关信息可以在<a href='/contests/?id=#{id}'>Contests</a>中获知，欢迎各位积极参与，
            .wecome-button
              // TODO
              //a.button.rotate2(href="#") Read More
                span
          .col.s4.feature-text
            img(src="/images/DSC03583.JPG" alt="ACM赛场" width="300px" height="200px")
            h3
              |志愿活动火热招募
            p
              |新学期即将开始的ACM全球总决赛和ACM校内赛需要大量志愿者参与，
              |招募活动正在进行，如果您对志愿活动感兴趣、对ACM竞赛感兴趣，
              |如果您希望为比赛的顺利进行贡献一份力量，或是体验比赛的氛围，
              |请移步Volunteers中关注信息。
            .wecome-button
              // TODO
              //a.button.rotate2(href="#") Read More
                span