extends layout
block content
  input#id(type="hidden" value="#{id}")
  // header
  .header-section2
  // /header
  .container.row
    .col.s6
      h3 加入我们
      ul.collapsible.popout(data-collapsible="accordion")
        li
          .collapsible-header.active
            竞赛零距离
          .collapsible-body
            科协有机会与各大比赛零距离接触，加入科协，将有机会亲自参与到相关工作中
        li
          .collapsible-header
            部门福利
          .collapsible-body
            | 科协依靠自身能力拉取赞助，部门中福利较为优厚。每学期都有聚餐或者聚会活动。此外在科协可以学习到新的知识，无论是计算机方面的基本知识还是社会社交基本技能，科协给你机会获得这些。
        li
          .collapsible-header
            认真搞事情
          .collapsible-body
            | 我们工作起来一定要认真，一丝不苟。玩起来，就要毫不保留，尽情畅快。相信有了你的加入，我们能获得新的元素。
        li
          .collapsible-header
            还在等什么
          .collapsible-body
            | 联系方式就在右侧，加入我们，一起创造，一起奋斗。
        li
          .collapsible-header
            跨院系的机会
          .collapsible-body
            | 院系永远不能阻隔加入科协的脚步，无论您来自哪个院系，我们都欢迎您。

    .col.s6.card-panel.hoverable
      h3 联系方式
      h4 部门邮箱：eecskexie@163.com
      h4 主席邮箱：zhengsz@pku.edu.cn

  script.
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
