extends layout

block content
  .container
    if(!admin)
      h3 科协欢迎您
    else
      h3 欢迎您回来，管理员
    .row
      if(!admin)
        form.col.s12(action='/login', name='f', method='post')
          .input-field.col.s6
            input.validate(id="输入学号" type="text" required placeholder="输入学号" data-error="请输入学号" data-success="right")
            label(for="学号")
              | 学号
          .input-field.col.s6
            input.validate(id="password" type="password" required placeholder="输入密码" data-error="请输入密码" data-success="right")
            label(for="password")
              | Password
          .input-field.col.s12
            select
              option(value="1" selected="selected")
                | 北京大学
              option(value="2")
                | 清华大学
              option(value="3")
                | 人民大学
            label
              | 学校

          button.btn.waves-effect.waves-light.col.s4(type="submit")
            | 登录
            | <i class="material-icons right">send</i>

          //input#check-box.checkbox(name='savesid', value='0', type='checkbox')
          //span 记住用户名
          button.btn.waves-effect.waves-light.col.s2.offset-s4
            a.white-text(href='/register')
              | 还没注册账号？

          button.btn.waves-effect.waves-light.col.s2
            a.white-text(href="/")
              | 放弃登录
        //a.login-fgetpwd(href='#', style='color: #FFFFFF') 忘记密码？
      else
        // 下面是管理员登录
        form.col.s12(action='/admin/login', name='f', method='post')
        .input-field.col.s6
          input.validate(id="输入学号" type="text" required placeholder="输入学号" data-error="请输入学号" data-success="right")
          label(for="学号")
            | 学号
        .input-field.col.s6
          input.validate(id="password" type="password" required placeholder="输入管理员密码" data-error="请输入管理员密码" data-success="right")
          label(for="password")
            | Password
        input(type="hidden" value="1" name="university")

        button.btn.waves-effect.waves-light.col.s4(type="submit")
          | 登录
          | <i class="material-icons right">send</i>

        button.btn.waves-effect.waves-light.col.s2.offset-s6
          a.white-text(href="/")
            | 放弃登录

  script.
    $(document).ready(function() {
      $('select').material_select();
    });