extends layout

block content
  script(type="application/javascript").
      function check_empty(val, initial_val)
      {
          val = val.replace(/(^\s*)|(\s*$)/g, '');
          if(val === undefined || val.length < 1 || val === initial_val){
              return true;
          }
          return false;
      }
      function check_email(email)
      {
          var split_email = email.split('@');
          if(split_email.length !== 2)
          {
              return false;
          }
          var [local, domain] = split_email
          var std_local = /^[-\_\.a-zA-Z0-9]{1,64}$/;
          var std_domain = /^[0-9a-zA-Z][-0-9a-zA-Z\.]*?\.[-0-9a-zA-Z]*[0-9a-zA-Z]$/
          if(!std_local.test(local) || !std_domain.test(domain))
          {
              return false;
          }
          else if(/\.\./.test(local) || /^[-0-9a-zA-Z]+\.[0-9]+$/.test(domain) || domain.length > 63)
          {
              return false;
          }
          return true;
      }
      function check(){
          var name = document.getElementById('name').value;
          var phone_number = document.getElementById('phone_number').value;
          var number = document.getElementById('number').value;
          var email = document.getElementById('email').value;
          var password = document.getElementById('password').value;
          var confirm_password = document.getElementById('confirm_password').value;
          var good_input = false;
          if(check_empty(name, "姓名")){
              alert("名字不能为空");
          }
          else if(check_empty(phone_number, "输入手机号")){
              alert("请输入手机号");
          }
          else if(check_empty(number, "输入学号")){
              alert("请输入学号");
          }
          else if(check_empty(email, "输入邮箱")){
              alert("请输入邮箱");
          }
          else if(check_empty(password, "")){
              alert("请输入密码");
          }
          else if(check_empty(confirm_password, "")){
              alert("请输入确认密码");
          }
          else{
              if(phone_number.length !== 11){
                alert("请输入有效手机号");
              }
              else if(!check_email(email)){
                alert("请输入合法邮箱");
              }
              else if(password.length < 6 || password.length > 20)
              {
                alert("密码长度应在6-20");
              }
              else if(password !== confirm_password)
              {
                alert("确认密码错误");
              }
              else
              {
                good_input = true;
              }
          }
          return good_input;
      }
  .container
    .row
      h2 科协欢迎您
      h3 #{message}
      form.col.s12#register(action='/register', name='f', method='post', onsubmit="return check()")
        .input-field.col.s4
          input.validate#name(name='name' type="text" required placeholder="输入姓名" data-error="请输入姓名" data-success="right")
          label(for="姓名")
            | 姓名
        .input-field.col.s2
            select#gender(name="gender")
              option(value="0" selected="selected")
                | 男
              option(value="1")
                | 女
            label
              | 性别
        .input-field.col.s6
            select#university(name="university" value = "-1")
              option(value="1" selected="selected")
                | 北京大学
              option(value="2")
                | 清华大学
              option(value="3")
                | 人民大学
            label
              | 学校
        .input-field.col.s6
          input.validate#number(name='number' type="text" required placeholder="输入学号" data-error="请输入学号" data-success="right")
          label(for="学号")
            | 学号
        .input-field.col.s6
          input.validate#school(name='school' type="text" required placeholder="输入学院" data-error="请输入学院" data-success="right")
          label(for="学院")
            | 学院
        .input-field.col.s6
          input.validate#phone_number(name='phone_number' type="text" required placeholder="输入手机号" data-error="请输入手机号" data-success="right")
          label(for="手机号")
            | 手机号
        .input-field.col.s6
          input.validate#email(name='email' type="text" required placeholder="输入邮箱" data-error="请输入邮箱" data-success="right")
          label(for="邮箱")
            | 邮箱
        .input-field.col.s6
          input.validate#password(name='password' type="password" required placeholder="输入密码" data-error="请输入密码" data-success="right")
          label(for="密码")
            | 密码
        .input-field.col.s6
          input.validate#confirm_password(type="password" required placeholder="输入密码" data-error="请输入密码" data-success="right")
          label(for="密码")
            | 确认密码

        button.btn.waves-effect.waves-light.col.s4(type="submit")
          | 注册
          | <i class="material-icons right">send</i>
        button.btn.waves-effect.waves-light.col.s3.offset-s3
          a.white-text(href="/login")
            | 已有账号，这里登录
        button.btn.waves-effect.waves-light.col.s2
          a.white-text(href="/")
            | 放弃注册
        //input#check-box.checkbox(name='savesid', value='0', type='checkbox')
        //span 记住用户名
      //a.login-fgetpwd(href='#', style='color: #FFFFFF') 忘记密码？

  script.
    $(document).ready(function() {
      $('select').material_select();
    });