extends layout
block content
  input#id(type="hidden" value="#{id}")
  .container
    .row
      h2 当前志愿活动
      .featured-main
        .col.s4.feature-text
          h3
            | ACM校内赛
          if(admin)
            p
              | 管理志愿活动
          else
            p
              | 欢迎参加志愿活动
          .wecome-button
            if(admin)
              a.button.btn.waves-effect.waves-light(href='/admin/?id=#{id}&activity=acm-school&action=manage_activity')
                | 点击管理志愿者
                span
                img.responsive-img(src='/images/DSC03646.JPG', alt='')
            else
              a.button.btn.waves-effect.waves-light(href='/volunteers/volunteer/?id=#{id}&activity=acm-school')
                | 相关信息
                span
                img.responsive-img(src='/images/DSC03646.JPG', alt='')